#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;

    .modal-container {
        background-color: $bc-white;
        width: 900px;
        max-width: calc(100% - 32px);
        min-height: 300px;
        position: relative;
        transform: translateY(-100px);
        animation: modalFadeIn ease 0.5s;

        .modal-header {
            background-color: #009688;
            font-size: 3rem;
            color: $bc-white;
            padding: 47px 16px;
            text-align: center;
            letter-spacing: 4px;
        }

        .modal-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 18px 21px;
            color: $white-color;

            &:hover {
                color: $black-color;
                background-color: #ccc;
                cursor: pointer;
            }
        }

        .modal-body {
            padding: 0px 16px;
            font-size: $text-font;

            .modal-label {
                display: block;
                margin: 20px 0 10px;
            }

            .modal-input {
                display: block;
                padding: 12px 8px;
                width: 100%;
                border: 1px solid #ccc;
            }

            #buy-ticket {
                display: block;
                width: 100%;
                margin-top: 16px;
                padding: 18px 0;
                font-size: 15px;
                background-color: #009688;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                cursor: pointer;
                border: none;

                &:hover {
                    @include hoverBtn;
                }
            }
        }

        .modal-footer {
            font-size: 15px;
            padding: 30px 16px;

            .modal-help {
                float: right;

                a {
                    color: #2196F3;
                    padding: 10px 0px;
                }
            }
        }
    }
}

#modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
      transform: translateY(-270px);
      opacity: 0;
    }
    to {
      transform: translateY(-100px);
      opacity: 1;
    }
} 